<div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MEDI_Search</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>

            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:5em">
        <h1 style="text-transform: uppercase;">
            <%= disease_name%>
        </h1>

        <br><br>
        <br>

        <h3>Symtoms</h3>
        <hr>
        <ul class="list-group">
            <% pop1.forEach((row,index)=> { %>

                <% if(index%2==0 ) { %>
                    <li class="list-group-item" style="width:50%">
                        <%= row.symtom_name%>
                    </li>
                    <% } else { %>
                        <li class="list-group-item list-group-item-dark" style="width:50%">
                            <%= row.symtom_name%>
                        </li>
                        <% } %>
                            <% }) ; %>

        </ul>
        <br><br>
        <br><br>

        <h3>Causes</h3>
        <hr>
        <ul class="list-group">
            <% pop2.forEach((row,index)=> { %>
                <% if(index%2==0 ) { %>
                    <li class="list-group-item" style="width:50%">
                        <%= row.cause%>
                    </li>
                    <% } else { %>
                        <li class="list-group-item list-group-item-dark" style="width:50%">
                            <%= row.cause%>
                        </li>
                        <% } %>
                            <% }) ; %>

        </ul>
        <br><br>
        <br><br>

        <h3>Prevention</h3>
        <hr>
        <ul class="list-group">
            <% pop3.forEach((row,index)=> { %>
                <% if(index%2==0 ) { %>
                    <li class="list-group-item" style="width:50%">
                        <%= row.prevention%>
                    </li>
                    <% } else { %>
                        <li class="list-group-item list-group-item-dark" style="width:50%">
                            <%= row.prevention%>
                        </li>
                        <% } %>
                            <% }) ; %>

        </ul>
        <br><br>
    </div>

    <div id="map" style="height: 500px; width: 50%;"></div>


    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: 20.0000, lng: 77.0000 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>

    <div id="map" style="height: 400px; width: 50%;"></div>
</div>




<script
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKTfqS5w7AUJAUoMTPVLs2a_xOAW_Hu_I&callback=initMap&libraries=&v=weekly"
    async></script>
</div>